* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, purple, rgb(0, 68, 255))
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2,minmax(120, auto))  repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    height: 100px;
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255,0.9);
}

.btn-2{
    grid-column: span 2;
}

.answer{
    grid-column: 1 / -1;
    background-color: green;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    align-items: end;
    justify-content: space-around;

}

.historydiv {
    grid-column: 1 / -1;
    background-color: green;
    padding: 0px 10px 10px;
}

.prev-op{
    font-size: 1.5rem;
}
.cur-op{
    font-size: 2.5rem;
}
.fa-clock-rotate-left{
    color: rgba(0,0,0,0.6);
}
.fa-clock-rotate-left:hover{
    color: rgba(0,0,0,0.9);
}

.past-calcs-modal {
    border-top-style: hidden;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    word-wrap: break-word;
    word-break: break-all;
    padding: 5px;
    align-items: end;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.history-calculation {
    font-size: 1rem;
}
.history-answer {
    font-size: 1.5rem;
}
.history-answer:hover {
    cursor:pointer;
}