* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: red;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(120, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    height: 100px;
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255,0.9);
}

.btn-2{
    grid-column: span 2;
}

.answer{
    grid-column: 1 / -1;
    background-color: gold;
    display: flex;
    flex-flow: column wrap;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    align-items: flex-end;
    justify-content: space-around;

}

.prev-op{
    font-size: 1.5rem;
}
.cur-op{
    font-size: 2.5rem;
}